.my-home-bg {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-title {
    color: #816d51;
}

.my-btn {
    background-color: #816d51;
    color: #ffffff;
}
